<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>

	<!--AQUI VAN LOS PARAMETROS DE CONEXION A LA BASE DE DATOS,VARIA CON EL NOMBRE DE CADA COMPU-->
	<connectionStrings>
		<!--<add name="win_auth" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-6RKSDTP\SQL2019_DEV;
																					Initial Catalog=CLINICA_SALUD_A_SU_ALCANCE; 
																					Integrated Security=True;"  />-->


		<add name="win_auth" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;
		<add name="win_auth" providerName="System.Data.SqlClient" connectionString="Data Source= DESKTOP-RB\SQL2019_DEV;
																					Initial Catalog=CLINICA_SALUD_A_SU_ALCANCE; 
																					Integrated Security=True;"  />



		<!--Seguridad integrada de Windows-->

		<add name="sql_auth" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-6RKSDTP\SQL2019_DEV;
																					Initial Catalog=CLINICA_SALUD_A_SU_ALCANCE; 
																					Persist Security Info=True;
																					User ID=sa;
																				    Password=Posadm1n;"  />
		
		<!--ProviderName es el protocolo de conexión al motor de BD, Persist Security True, para cuando tengo que poner las credenciales-->
	</connectionStrings>

	<appSettings>

		<!--AQUI VAN LOS PROCEDIMIENTOS ALMACENADOS DE CADA UNO-->

		<add key="listar_especialidades" value="dbo.SP_Listar_Especialidades"/>
		<add key="listar_adicciones" value="dbo.SP_listar_adicciones"/>
		<add key="listar_citas" value="dbo.SP_Listar_Citas"/>
		<add key="listar_personas" value="dbo.SP_LISTAR_PERSONAS"/>
		<add key="listar_correos" value="dbo.SP_LISTAR_CORREOS"/>
		<add key="listar_direcciones" value="dbo.SP_LISTAR_DIRECCIONES"/>
		<add key="listar_telefonos" value="dbo.SP_listar_telefonos"/>
		<add key="listar_distritos" value="dbo.SP_listar_distrito"/>
		<add key="filtrar_personas" value="dbo.SP_FILTRAR_PERSONAS"/>
		<add key="test" value="dbo.sp_GetPersonasTelefonos"/>
		<add key="filtrar_pacientes" value="dbo.SP_FILTRAR_PACIENTES"/>
		<add key="listar_pacientes" value="dbo.SP_LISTAR_PACIENTES"/>
		
		<add key="listar_alergias" value="dbo.Sp_Listar_alergias"/>
		
	





	<add key="listar_adicciones" value="dbo.SP_listar_adicciones"/>

	
	</appSettings>
</configuration>